<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TugasDaspro</title>
    
        <link rel="stylesheet" href="style2.css">
        <link rel="stylesheet" href="style1.css">
        <link rel="stylesheet" href="style.css">

        <style>
            .container {
                max-width: 960px;
                margin: 0 auto;                
            }
            h1 {
                padding-top: 40px;
            }
        </style>
    </head>
<body>
    <div id="app" class="container"> 
        
        <h1 style="text-align:center;font-weight: bold;">Todo List (Vue JS)
            <img src="306458.png" style="float:center;width: 40px; ;">
        </h1> 

        <div v-if="!isEditing">
            <input type="text" v-model="todo">
            <input type="submit" value="Add" @click="storeList">
        </div>
        <div v-else>
            <input type="text" v-model="todo">
            <input type="submit" value="Update" @click="updateList">
        </div>

        <ol>
            <li class="mekii" v-for="(todo, index) in todos">
                {{ todo }}

                <div>
                    <button @click="editList(index, todo)">Edit</button>
                    <button @click="removeList(index)">Delete</button>
                </div>
            </li>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            
            data: {
                isEditing: false,
                todo: '',
                todos: [],
                selectedTodo: null
            },
            
            methods: {
                storeList() {
                    this.todos.push(this.todo)
                    this.todo = ''
                },

                removeList(index) {
                    this.todos.splice(index, 1)
                },

                updateList() {
                    this.todos.splice(this.selectedIndex, 1, this.todo)
                    this.todo = ''
                    this.isEditing = false
                },

                editList(index, todo) {
                    this.isEditing = true
                    this.todo = todo
                    this.selectedIndex = index
                }
            }
        })
    </script>
</body>
</html>